body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    outline: 2px solid red;
    display: flex;
    flex-wrap: wrap;

    width: 500px;
    height: 500px;
    background-color: rgba(199, 206, 212, 0.48);
}

.pixel {
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
}